body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.linkFont {
  font-family: Tahoma, sans-serif;
  font-weight: bold;
  padding-right: 20px;
  color: lightgreen;
  text-shadow: 4px 4px 4px #000000;
}

.gradient-text {
  background-image: linear-gradient(60deg, #2453A6, #2d7b30);
  background-clip: text;
  color: transparent;
}